* {
    margin: 0;
    padding: 0;
   /* border: 0;
    outline: 0;*/
    transform-box: fill-box;
}


body{
background-color:var(--primary-color); 
 }

/*glowing text*/

.heading {
  margin-right: 600px;
  font-family: cursive;
  color: var(--secondary-color);
  animation: heading 1s ease-in-out infinite alternate;
letter-spacing: 3px;
}

@-webkit-keyframes heading {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
  }
  
  to {
    text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
  }
}

/*end of h1 header glowingtxt*/

.navbar{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 1rem;
}

.navbar-list{
	margin-right: 30px;
	width: 100%;
}

.navbar h1{
	margin-left: 1rem;
	width: 100%;
}

.navbar ul{
	display: flex;
}

.navbar ul li {
	list-style: none;
	padding-right: 30px;
}

.navbar ul li a{
	font-size: 25px;
	text-decoration: none;
	color: var(--secondary-color);
	padding-bottom: 20px;
}


#a1:hover{
	border-bottom: 4px solid blue;
	color: blue;
}
#a2:hover{
	border-bottom: 4px solid yellow;
	color: yellow;
}
#a3:hover{
	border-bottom: 4px solid red;
	color: red;
}
#a4:hover{
	border-bottom: 4px solid orange;
	color: orange;
}
#a5:hover{
	border-bottom: 4px solid green;
	color: green;
}


/*ANIME*/


:root {
    --color-primary: #A201FB;
    --color-success: #00bf8e;
    --color-warning: #f7c94b;
    --color-danger: #f75842;
    --color-danger-variant: rgba(247, 88, 66, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.7);
    --color-black: #000;
    --color-bg: #E8C0FF;
    --color-bg1: #CC70FF;
    --color-bg2: #DA97FE;
    --container-width-lg: 80%;
    --container-width-md: 90%;
    --container-width-sm: 94%;
    --transition: all 400ms ease;
    --color-dark-primary: #6c63ff;
    --color-dark-bg: #1f2641;
    --color-dark-bg1: #2e3267;
    --color-dark-bg2: #424890;
}


.header__right{
	width: 550px;
	height: 550px;
	float: right;
	margin-top: 150px;
	margin-left: 850px;
	position: absolute;
}

/*clock*/

.container{
		display: flex;
		justify-content: center;
		align-items: center;
		/*height: 500px;*/
		float: right;
		position: relative;
		margin-right: 150px;	
		margin-top: 50px;	
	}

	.clock-container{
		padding: 15px;
		border-radius: 10px;
	}

	#clock{
		color: var(--secondary-color);
		font-size: 70px;
	}

	#date{
		color: rgb(176,176,209);
		font-size: 20PX;
	}

/*clock css ends*/


/**Night and light mode*/*

#icon{
	width: 30px;
	cursor:pointer;
	border-radius: 50%;
}

:root{
	--primary-color:rgb(40,0,60);
	--secondary-color:white;
}

.light-mode{
	--primary-color:aliceblue;
	--secondary-color:black;
}

#icon{
	float: right;
	margin-top: -57px;
	margin-right: 1rem;
/*	position: relative;
*/}
